<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="superSocket"
		         type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
	</configSections>

	<!-- SuperSocket配置的根节点 -->
	<superSocket xmlns="http://schema.supersocket.net/supersocket"
	             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	             xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
		<!-- 服务器实例 -->
		<servers>
			<server name="TelnetServer" serverTypeName="TelnetServerType" ip="Any" port="2021" textEncoding="gb2312"></server>
		</servers>

		<!-- 服务器类型 -->
		<serverTypes>
			<add name="TelnetServerType" type="LibSocketServer.Server.TelnetServer, LibSocketServer" />
		</serverTypes>
	</superSocket>
</configuration>